vrrp_script chk_haproxy {
    script "/usr/bin/killall -0 haproxy"
    interval 1
    weight 3
}

# Configuation for the virtual interface
vrrp_instance VI_1 {
    interface {{ keepalive_interface }}
    state {{ (primary | default(false)) | ternary('MASTER', 'BACKUP', 'BACKUP') }}
    priority {{ priority }}
    virtual_router_id {{ virtual_router_id }}
    smtp_alert          # Activate email notifications
    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }
    # The virtual ip address shared between the two loadbalancers
    virtual_ipaddress {
        {{ virtual_ip }}
    }
    # Use the script above to check if we should fail over
    track_script {
        chk_haproxy
    }
}
